@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&family=Otomanopee+One&display=swap');


h1 {
	font-size: 45px;
	font-weight: 700;
	padding-top: 30px;
	padding-left: 20px;
	margin-top: -10px;
	text-align: left;
}
h1,a {
	font-family: 'Noto Sans JP';
	color: black;
}
h1 a {
	color: black;
	text-decoration: none;
}
h2 {
	font-size: 20px;
	margin-top: -30px;
	margin-right: 20px;
	font-weight: 700;
	text-align: left;
	padding-left: 20px;
	size: 500px;
}
h3 {
	font-size: 25px;
	margin-top: 5px;
	padding-top: 10px;
}
h4 {
	font-size: 16px;
	margin-top: 10px;
}
h3,h4 {
	font-family: sans-serif;
	margin-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}
h5 {
	font-family: 'Otomanopee One';
	font-size: 80px;
	text-align: right;
	color: white;
}
p {
	font-size: 13px;
	margin-top: 10px;
	margin-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 20px;
}
h3, h4, p{
	color: black;
}
.dot {
	background-color: white;
	margin-left: -10px;
	margin-right: -10px;
	margin-top: -10px;
	padding-bottom: 40px;
	padding-left: 20px;
	text-align: right;
}
.message {
	padding-right: 200px;
	padding-top: 100px;
	padding-bottom: 100px;
	margin-top: 0;
	margin-bottom: 0px;
	background: lightblue;
	background-image: url(https://i.gyazo.com/190197e2822d10feef2148941b2db2b9.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 1500px;
	height: 610px;
	margin-left: auto;
	margin-right: auto;
}
div.card {
	width: 400px;
	height: 180px;;
	margin: 40px;
	margin-left: auto;
	margin-right: auto;
}
div.card2 {
	width: 700px;
	height: 200px;
	margin: 70px;
	margin-left: auto;
	margin-right: auto;
}
.card,.card2 {
	box-color: white;
	text-align: left;
	background-color: white;
	overflow: hidden;
	border-radius: 20px; 
}
body {
	background-color: lightblue;
	overflow: scroll;
	overflow-x: hidden;
	
}
img {
	width: 200px;
	border-radius: 20px; 
}
figure {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 10px;
	margin-right: 20px;
	float:left;
	size: 400px;

}

li {
	display: inline-block;
	font-size: 30px;
	padding-left: 5px;
	padding-right: 5px;
}

ul {
	list-style-type: none;
	margin: 0px;
	padding-top: 20px;
	padding-right: 70px;
	font-size: 50px;
}
img {
	width:400px;
}

.timeline {
  max-width: 50%;
  border: 1px solid #333;
  padding: 10px;
}

.moji {
	font-size: 25px;
}

.moji2 {
	font-size: 20px;
	color: floralwhite;
}

.m {
	background-color: white;
    border-radius: 10px;
    width: 500px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

section.hero .button {
	background-image: linear-gradient(145deg, #667eea 0%, #764ba2 100%);
	border-radius: 100px;
	font-weight: 400;
	font-size: 0.75em;
	line-height: 4em;
	width: 20em;
	margin: 35px auto;
	display: block;
	text-align: center;
	box-shadow: 0 2px 25px rgb(0 0 0 / 10%);
	position: relative;
	z-index: 100;
	cursor: pointer;
}
